---
import { Icon } from "astro-icon/components"
const{
    title,
    time,
    day,
    location,
    locationDetail,
    url,
} = Astro.props

---
 <div class="flex flex-col items-center justify-center p-3 border-2 border-[#7c533e] backdrop-blur-md rounded-lg">
            <h1 class="text-3xl my-primary-color font-bold font-great my-5">{title}</h1>
            <span class="text-sm font-bold my-primary-color">{day}</span>
            <span class="text-sm">{time}</span>
            <p class="text-sm">{location}</p>
            <p class="my-primary-color flex text-sm md:text-base flex-col justify-center items-center mt-5 gap-2 text-center"><Icon name="mdi:map-marker" class="my-primary-color" size={34}/> {locationDetail} </p>
            <a href={url} class="my-5 px-5 py-2 my-secondary-bg text-slate-200 lg:hover:my-ondary-bg lg:hover:text-slate-200 rounded-md lg:opacity-50 lg:hover:opacity-100 transition duration-300 transform hover:-translate-y-1 text-sm">Google Map</a>
        </div>