---
import { Image } from "astro:assets"
import {Icon} from 'astro-icon/components'

interface Props {
    name:string,
    mempelai : string,
    city:  string,
    image:string
    anak:string,
    sosmed: string
}
const media = ['instagram']

const {
    name,
    mempelai,
    city,
    image,
    anak,
    sosmed
} = Astro.props

import pria from'../../img/pria.png'
import wanita from'../../img/wanita.png'
---

<div class="flex flex-col my-secondary-color justify-center items-center text-center z-[10]">
    <Image width={0} height={0} class="rounded-full w-full sm:w-[20px] h-72 lg:w-[300px] object-cover shadow" src={image === 'pria' ? pria : wanita} alt={name}/>
    <h3 class="text-3xl  mt-5 mb-3 font-great">{name}</h3>
    <span class="font-bold mb-3 z-[99]">Pengantin {mempelai}</span>
    <span class="flex mb-3 gap-1 items-center justify-center font-bold"><Icon name="mdi:map-marker" class="my-secondary-color"/>{city}</span>
    <p class="mb-5">{anak}</p>
    <div class="flex gap-2 items-center mb-3">
        {
            media.map(item =>(
                <a href={sosmed} class="border-2 border-[#7c533e] p-1 rounded-full opacity-50 hover:opacity-100 transition duration-300 transform hover:-translate-y-1">
                    <Icon name={`mdi:${item}`} class="my-secondary-color" size={24}/>
                </a>        
            ))
        }
      
    </div>
  
</div>